# Copyright (c) 2025 Embeint Pty Ltd
#
# SPDX-License-Identifier: Apache-2.0

config GPIO_BQ25190
	bool "BQ25190 GPIO driver"
	default y
	depends on DT_HAS_TI_BQ25190_GPIO_ENABLED
	select I2C
	select MFD
	help
	  Enable the Texas Instruments BQ25190 PMIC GPIO

if GPIO_BQ25190

config GPIO_BQ25190_INIT_PRIORITY
	int "BQ25190 GPIO driver init priority"
	default 56
	help
	  Init priority for the TI BQ25190 GPIO driver.
	  It must be greater than the MFD init priority.

endif # GPIO_BQ25190
